
    body
    {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }
    header
    {   
        width: 100%; 
        height: 70px;
        background-color:aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main
    {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    section
    {
        background-color: antiquewhite;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        /* border: 1px solid black; */
    }
    section div:nth-last-child(1)
    {
        width: 95%;
    }
    aside
    {
        background-color: lightgreen;
        display: flex;
        width: 20vh;
        justify-content: center;
        align-items: center;
    }
    footer
    {
        height: 100px;
        background-color: lightblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .more
    {
        background-color: lightsalmon;
        height: 150px;
        width: 45%;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    .footersection
    {
        background-color: lightgray;
        display: flex;
        align-items: center;
        width: 150px;
        height: 50px;
        justify-content: center;
    }
